replicaCount: 1
rolloutStrategy: Recreate

image:
  repository: wordpress
  pullPolicy: Always
  tag: "5.7-php7.4-fpm-alpine"

nginx:
  repository: digitalist/nginx
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 1.21.6
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 20Mi
  # Prefixes to strip from request, if request is /mysite/foo and you
  # want to strip /mysite/ from request, so you get /foo instead you add:
  # stripPrefixes:
  #   - mysite
  # This is useful if you are using sub paths for you domain and targeting
  # different wordpress pods.
  stripPrefixes: []
  securityContext:
    runAsUser: 100
    privileged: false
    allowPrivilegeEscalation: false

env:
  - name: DB_HOST
    value: database.default.svc.cluster.local:3306
  - name: DB_NAME
    value: db_wordpress
  - name: DB_USER
    value: db_wordpress
  - name: DB_PASSWORD
    valueFromSecret:
      secretName: mariadb
      key: password
  - name: DB_PREFIX
    value: wp_
## As:
## imagePullSecrets:
##   - name: myRegistryKeySecretName
##
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 82
  runAsGroup: 82
  fsGroup: 82

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 12000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  ingressClassName: nginx
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 25m
    memory: 64Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

wordpress:
  ## Enable persistence using Persistent Volume Claims
  ## ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
  ##
  persistence:
    enabled: true
    ## wordpress data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: "-"
    ##
    ## If you want to reuse an existing claim, you can pass the name of the PVC using
    ## the existingClaim variable
    # existingClaim: your-claim
    accessMode: ReadWriteOnce
    size: 10Gi
    annotations: {}
    labels: {}
  # livenessProbe:
  #   httpGet:
  #     path: /ping
  #     port: 8080
  #   initialDelaySeconds: 30
  #   periodSeconds: 10
  #   timeoutSeconds: 2
  #   failureThreshold: 3
  livenessProbe: []
  # readinessProbe:
  #   httpGet:
  #     path: /status
  #     port: 8080
  #   initialDelaySeconds: 10
  #   periodSeconds: 5
  #   timeoutSeconds: 2
  #   failureThreshold: 3
  readinessProbe: []

## Add sidecars you want to use.
sidecars:
  []
extraSecrets:
  create: false
  data: {}
# secrets need to base64 encoded when added.
#  data:
#    name: Zm9vCg==
#    bar: YmFyCg==

extraConfigMap:
  create: false
  data: {}
  # You can create an extra config map, and attach data to it. This will be named
  # {{ include "wordpress.fullname" . }}-extra-config-map
  # data:
  #   my.file: |
  #     foo: bar
extraVolumes: []
# extraVolumes:
# - name: mySecretVolume
#   secret:
#     secretName: wordpress-extra-secrets
# - name: my.file
#   configMap:
#     name: wordpress-extra-config-map
#     items:
#     - key: "my.file"
#       path: "/tmp/my.file"
extraVolumeMounts: []
# extraVolumeMounts:
#   - name: mySecretVolume
#     mountPath: /foo/secrets/mySecretVolume/
# - name: my.file
#   mountPath: /tmp/my.file
#   subPath: my.file

# If enabled, it will mount a secret to a .env file
dotenv:
  enabled: false
  name: wordpress
component: ""

externalConfigMap:
  enabled: false
  name: ""

# Override blocks in configmap. This will override the whole entry.
# customConfig:
#   php_fpm: |
#     [global]
#     daemonize = no
#     [www]
#     listen = 9100

customConfig:
  php_fpm: ""
  php_opcache: ""
  php: ""
  nginx_conf: ""

# Add Cavalcade as sidecar, needs the cavalcade plugin in Wordpress.
cavalcade:
  enabled: false
  image: "digitalist/cavalcade-docker:0.2"
  imagePullPolicy: Always
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 512Mi

# Dynamic create, or override a whole WordPress environment, like 'staging', 'development' etc.
# This mounts into '/var/www/html/config/environments/staging.php' if you name it staging.
# wordpressEnvs:
#   staging: |
#     <?php define('WP_ENV', 'staging');
#     define('WP_DEBUG', true);
wordpressEnvs: {}

# Import files from a backup.
#
fileImport:
  enabled: false
  bucket: wordpress-files
  path: /var/www/html/web/app/mirror/uploads

# Import db from a backup.
#
dbImport:
  enabled: false
  bucket: "wordpress-backups/foo/is/bar" #no slash in end
  path: "uploads"
  file: "db.sql"

minioClientDownload: https://dl.min.io/aistor/mc/release/linux-amd64/mc
helperImage: alpine:3.22

dbBackup:
  enabled: false
  schedule: "0 2 * * *"   # daily at 02:00
  bucket: wordpress-backups
  retentionDays: 14       # optional
  filenamePrefixOverride: ""

fileBackup:
  enabled: false
  schedule: "30 2 * * *" # daily at 02:30
  bucket: wordpress-backups
  path: /backup/uploads
  retentionDays: 5       # optional
  backupNamePrefixOverride: ""