{{- if and .Values.wordpress.persistence.enabled (not .Values.wordpress.persistence.existingClaim) }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "wordpress.fullname" . }}-data
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "wordpress.labels" . | nindent 4 }}
    {{- with .Values.wordpress.persistence.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- with .Values.wordpress.persistence.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  accessModes:
    - {{ .Values.wordpress.persistence.accessMode | quote }}
  resources:
    requests:
      storage: {{ .Values.wordpress.persistence.size | quote }}
{{- if .Values.wordpress.persistence.storageClass }}
{{- if (eq "-" .Values.wordpress.persistence.storageClass) }}
  storageClassName: ""
{{- else }}
  storageClassName: "{{ .Values.wordpress.persistence.storageClass }}"
{{- end }}
{{- end }}
{{- end }}